*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #D2D0BA;
}

.container {
    max-width: 528px;
    margin: 0 auto;
    background-color: #0B4F6C;
    min-height: 100vh;
}

.hero {
    
    color: #ffff;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(35, 61, 77) 35%, rgba(0,212,255,1) 100%);
    padding: 2rem 0;
   
}

.back-btn {
    font-size: 1.7em;
    padding-left: 1em;
}

.hero-info {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.i {
    font-size: 1.5rem;

}

.relationship {
    width: 6em;
    text-align: center;
    padding: .4em .5em;
    border-radius: 100px;
    border-top-left-radius: 0;
    background: #75a85e;
    font-size: .7em;
}

a{
    text-decoration: none;
    color: #fff;

}

.contact-info {
    padding: 3em 1.5em;
}

.info-line {
    display: flex;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    padding: 1em 2em;
    margin-top: 2em;
    border-radius: 20px;
    border-radius: 26px;
    box-shadow:  13px 13px 18px #08374c,
             -13px -13px 18px #0e678c;
    color: #ffff;         
}

p {
    margin: 0;
    padding-left: 2em;

}

.icon-gradient {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(35, 61, 77) 35%, rgba(0,212,255,1) 100%);
    border-radius: 100px;
    padding: 0.5em;
}

#location {
    padding: .5em .6em;
}

.edit-contact {
    padding: 2.5em 3.5em;
    text-align: center;
    
}